#contenedor{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    padding: 10px;
}
h1{
    text-align: center;
    color: brown;
}
#saludo{
    font-size: 24px;
    font-weight: bold;
}
.estilo-normal{
    font-weight: bold;
    font-size: 24px;
    margin: 15px 0px 15px 0px;
}
span{
    color: brown;
}
input[type=text],select,[type=number]{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
}
input[type=number]{
    width: 50px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
   
}